/**
 * LG - (min-width: 1200px)
 * MD - (min-width: 992px) and (max-width: 1199px)
 * SM - (min-width: 768px) and (max-width: 991px)
 * XS - (max-width: 767px)
 */

 /* @font-face {
  font-family: 'Simplonoi Headline';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/simplonoi-headline-webfont.eot');
  src: local('Simplonoi Headline'), local('SimplonoiHeadline'),
       url('./assets/fonts/roboto.eot') format('embedded-opentype'),
       url('./assets/fonts/roboto.woff') format('woff'),
       url('./assets/fonts/roboto.ttf') format('truetype');
} */


.flex { display: flex; }
.flex-1 { flex: 1 }
.row { flex-direction: row; }
.column { flex-direction: column; }