@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;  
}

a{
  text-decoration: none;
  cursor: pointer;
}

html,body, #root {
    height: 100%;
}

body {
    background-color: #FAFAFA;
    -webkit-font-smoothing: antialiased;

   
  }

  body, input, button{
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }